# Django settings
SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,testserver

# Database
DB_ENGINE=django.db.backends.mysql
DB_NAME=adonai_store
DB_USER=root
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=3306

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_BOB_TO_USD_RATE=0.145

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=no-reply@adonai.local

# Sites
SITE_ID=1
